/* // Posicionamiento del header */
.ed-header {
  position : fixed;
  top      : 0;
  width    : 100%;
  z-index  : 100;}

  .logo { height : 2rem }

 /*  // Posicionamiento del nav
  // Utilizamos el mixin to() de EDgrid para que sólo se aplique en móvil */
  .nav {
      @include to(lg) { 
        position : fixed;
        left     : 0;
        bottom   : 0;
        background : red;
      }
  }

  .menu { list-style : none }
 /* 
   // Colores de links del menú */
  .link {
    color : blue;
    &.active { color : cornflowerblue }
    @include from(lg) { color : grey }
  }
/* 
   // Estilos para los íconos */
  .icon {
    --size : 1.5rem;
    width  : var(--size);
    height : var(--size);
    fill   : currentColor;
  }

